/* DEFAULT SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans';
    /* min-width: 375px; */
}


/* HEADER STYLES */

.header-background {
    background: linear-gradient(rgba(163, 229, 231, 0.7), rgba(164, 213, 214, 0.7)), url('images/bg-hero-desktop.svg');
}

.header-container {
    width: 90%;
    margin: 0 auto;
}

nav ul li {
    margin-top: 30px;
    padding: 15px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

h1,
h2 {
    font-family: [Poppins];
    text-transform: capitalize;
    font-size: 2.0em;
    font-weight: 600;
}

.sign-in button {
    padding: 8px 40px;
    background-color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: .9em;
    font-weight: 600;
}

.sign-in {
    float: right;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


/* column */

.col-1 {
    width: 50%;
    float: left;
    padding: 30px 30px 0 15px;
    margin: 50px auto;
}

.col-1 h2 {
    margin-bottom: 10px;
}

.col-2 {
    width: 50%;
    float: left;
}

.col-2 img {
    margin-bottom: 30px;
}


/* HEADER CONTENT */

.header-content {
    margin-top: 40px;
}

.img-right {
    float: right;
    margin-bottom: 30px;
}

.col-1 p,
.grow p,
.flow-content p,
.users-content,
footer {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: hsl(192, 100%, 9%);
    width: 100%
}

.action {
    margin-top: 20px;
    padding: 18px 45px;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border: 0;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 700;
}


/* session */

.session {
    width: 100%;
}


/* grow-together */

.grow-together,
.flowing,
.your-users {
    border: 1px solid #eee;
    border-radius: 18px;
    width: 90%;
    margin: 60px auto;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.grow-img,
.img-width {
    width: 100%;
    padding: 5px;
}

.col-1 .grow-img,
.col-2 .grow-img {
    width: 80%;
}

.grow-content,
.users-content {
    margin: 70px auto 0;
    padding: 30px 0 0 50px;
}

.flow-content {
    margin: 150px auto 30px;
    padding: 20px;
}

.grow-content p,
.flow-content p,
.users-content p {
    color: hsl(195, 2%, 67%);
    line-height: 1.6em;
    margin-top: 20px;
}

.middle {
    position: relative;
    left: 0;
    top: 85px;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 45px;
}

.middle button {
    padding: 25px 60px;
    border-radius: 30px;
}


/* Footer  */

footer {
    background-color: hsl(192, 100%, 9%)
}

.footer-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.footer-container [class*="col-"] {
    color: #fff;
    flex-grow: 1;
}

.footer-container ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

footer a img {
    margin-left: 30px;
    margin-top: 100px;
}

[src*="icon-"] {
    padding-right: 10px;
}

.attribution {
    font-size: 12px;
    text-align: right;
    color: #eee;
    font-weight: 400;
    margin-right: 30px;
    padding-bottom: 50px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .header-background {
        width: 100%;
    }
    [class*="col-"] {
        width: 100%;
    }
    .col-1,
    .col-1 h2,
    .col-2,
    .col-1 p,
    .col-2 p {
        text-align: center;
    }
    .middle {
        width: 100%;
    }
    /* image resize */
    .grow-img,
    .img-width {
        width: 100%;
        padding: 5px;
    }
    nav ul {
        display: block;
    }
    nav ul li img {
        width: 90px
    }
    .sign-in button {
        padding: 8px 20px;
        font-size: .7em;
        font-weight: 600;
        margin-right: 4px;
    }
    footer a img {
        width: 150px;
    }
}

@media only screen and (width: 375px) {
    .header-background {
        width: 100%;
    }
    [class*="col-"] {
        width: 100%;
    }
    .col-1,
    .col-1 h2,
    .col-2,
    .col-1 p,
    .col-2 p {
        text-align: center;
    }
    .middle {
        width: 80%;
    }
    /* image resize */
    .grow-img,
    .img-width {
        width: 100%;
        padding: 5px;
        margin: auto;
    }
    .footer-container ul li {
        text-align: center;
    }
    nav ul {
        display: block;
    }
    nav ul li img {
        width: 90px
    }
    .sign-in button {
        padding: 8px 20px;
        font-size: .7em;
        font-weight: 600;
        margin-right: 4px;
    }
    footer a img {
        width: 150px;
    }
}